:root {
    --hover_color: #333;
    --citeblue: rgba(51, 173, 255, 0.423);
}
body { 
    /*box-sizing:border-box; margin:0; height:100%; width:100%; background-size:100px 100px;
    background-image: repeating-linear-gradient(0deg, transparent, transparent 99px, #ccc 99px, #ccc 100px), 
    repeating-linear-gradient(-90deg, transparent, transparent 99px, #ccc 99px, #ccc 100px); */
    margin: 0px auto;
    padding: 14px;
    font: 18px  'EB Garamond', serif;
    color: #333;
    counter-reset: sidenote;
  }

  p, h1{
    margin: 0 0 21px 0;
    text-align:justify;
    text-justify: newspaper;
    text-align-last:left;

  }
  
  h1 {
    font-weight: bold;
    text-align:center;
    text-align-last: center;
  }
  
  h2 {
    white-space: pre-wrap;
    font-weight: bold;
    text-align:left; 
    font-size: 20pt;
  }

cite{
  font-style: normal;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding-left: 0pt;
    padding-right: 0pt;

}

.authors{
  text-align: center;
  margin-bottom:20pt;
}
.author{
  margin-bottom: 10pt;
}
.affil{
  font-size: small;
}

.abstract{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40pt;
  font-size:medium;
}
.autocitation{
  display: inline;
  color:var(--hover_color);
  border-bottom: 0px solid var(--citeblue);
  color: inherit;
  text-decoration: none;
}
.autocitation:hover{
  border-bottom: none;
  background-color: var(--citeblue);
}

.col-sm-6{
//    background-color: aliceblue;
}
.col-sm-3{
//    background-color: antiquewhite;
}

.sidenote{
    font-size: small;
    position: absolute;
    display: inline;
    max-width: 200pt;
    padding: 4px 20px;
    left: 100%;
    width: 50%;
    margin-top: 0pt;
    z-index: 999;
}



.sidenote::before{
    content: counter(sidenote);
    vertical-align: super;
    font-size: smaller;
}

.sidenote-counter{
    display: inline;
    vertical-align: super;
    font-size: small;
}

svg{
  width:100%;
  margin: auto;
}

.sidenote-counter::after{
    counter-increment: sidenote;
    content:counter(sidenote);
}


.tick{
  font: 12px  'EB Garamond', serif;  
}

.popover-header {
    font-size: 15px;
}
.popover-body {
    font-size: 10px;
    color: #333;
}
.popover {
  margin: 4px 121px 0 5px;
}

/* Navigation bar */
nav[data-toggle="toc"] {
  top: 45px;
  color: #333 !important; 
  border-left-color: var(--citeblue) !important;
}

ul.nav a {
  color: #333 !important; 
  border-left-color: var(--citeblue) !important;
}

ul.nav a:hover { 
  background-color: var(--citeblue) !important;
  color: #333 !important; 
  border-left-color: var(--citeblue) !important;
}

/* small screens */
@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle="toc"] {
    margin-bottom: 42px;
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle="toc"] .nav .active .nav {
    display: none;
    color: #333 !important; 
    background-color: var(--citeblue) !important;
   }

.sidenote{
    font-style: italic;
    font-size: small;
    position: relative;
    display: inline;
    padding: 2px 2px;
    left: 0%;
    width: 0%;
    margin-top: 0pt;
    z-index: 999;
    }   
}