body {
    margin: 28px auto;
    max-width: 35.5em;
    padding: 14px;
    font: 16px/1.5  'Ubuntu Mono';
    color: #333;
    height:100%
  }
  
  svg{
    margin: auto;
    display: block
  }
  
  input, button {
    font: inherit;
    background: none;
    border: solid 1px rgba(255, 178, 91, 0.623);
    border-radius: 6px;
    margin: 0;
    padding: 4px 8px;
    -webkit-appearance: none;
  }
  
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  input:focus {
    outline: none;
    box-shadow: inset 0 0 4px rgba(255, 178, 91, 0.623);
  }
  
  button {
    background: rgba(255, 178, 91, 0.623);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
  }
  
  
  a[href] {
    border-bottom: 2px solid rgba(255, 178, 91, 0.623);
    color: inherit;
    text-decoration: none;
  }
  
  a[href]:hover {
   /* padding: 2px;*/
    /*margin: -2px;*/
    border-bottom: none;
    background-color: rgba(255, 178, 91, 0.623);
  }
  
  p, h1, h2 {
    font: inherit;
    margin: 0 0 12px 0;
    white-space: pre-wrap;
  }
  
  h1 {
    font-weight: bold;
  }
  
  h2 {
    font-weight: bold;
  }
  
  b, h1, h2 {
    color: #000;
  }
  
  h3 {
    position: relative;
    color: #000;
    font-weight: normal;
    font-size: 14px;
    top: -14px;
    margin: 0;
  }
  
  
  @media (max-width: 720px) {
    body {
      margin: 0 auto;
    }
  }

  .container {
    min-height: 100%;
    position: relative;
  }
  
  .content {
    padding:10px;
    padding-bottom: 60px;
  }

  .anim {
    position: relative;
    width : 100%;
    bottom: 0;
    margin-bottom: 24pt;
  }

  .videoInsert {
    position: relative; 
    right: 0; 
    bottom: 0;
    width: 100% !important; 
    height: 100% !important; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

.blue {
  color:#5ca8ff
}

.orange {
  color: rgba(255, 178, 91, 0.623)
}

  .grey {
    color:#646464
  }
  
  .mb4 {
    margin-bottom:3rem
  }
  
  .mr3 {
    margin-right:1rem;
  }
  
  .list-reset {
    list-style:none;
    padding-left:0;
  }
  
  .mb1 {
    margin-bottom:.5rem;
  }
  